<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> TODO APP</h1>

    <form action="/addtodo" method="post">
       <input type="text" name="task" placeholder="task">
       <label>Due Date</label>
       <input type="date" name="duedate">
       <input type="submit" >
    </form>

    <table>
        <thead>
            <th>ID</th>
            <th>Task</th>
            <th>Created Date</th>
            <th>Due Date</th>
        </thead>
        <tbody>
        {% for data in tasks %}
            <tr>
                <td> {{data[0]}}</td>
                <td> {{data[1]}}</td>
                <td> {{data[2]}}</td>
                <td> {{data[3]}}</td>
            </tr>
        {% endfor %}
        </tbody>   
    </table>
    
</body>
</html>